body {
    background-image: url('paper.gif');
}

p {
    text-indent: 2em;
    font-size: larger;
}

h2 {
    font-weight: bold;
}

h3 {
    font-size: large;
    font-style: italic;
    font-weight: bolder;
}