body {
    background-color: #EEEEEE;
}

p {
    text-indent: 2em;
    font-size: larger;
}

h2 {
    font-weight: bold;
    color: #00adb5;
    margin-top: 30px;
}

h3 {
    font-size: large;
    font-style: italic;
    font-weight: bolder;
    color: #393e46;
    text-indent: 1em;
}

a:link {
    color: #222831;
}



a:visited {
    color: #323232;
}


h5 {
	text-align: right;
	margin-bottom: 36px;
}